body{
margin: 0%;
padding: 0%;
background-color: #f7f9fa;
font-family: Arial, Helvetica, sans-serif;
max-width: 100%;
}
#Inicio{
 max-width: 100%;
 max-height: 200px;
 width: auto;
 height: auto;
 margin-bottom: -3%;
 margin-left: -3%;
}
nav{
    background-color: #fff;
    width: 100%;
    margin-top: -3%;
    display: flex;
}
nav ul{
    list-style-type: none;
    width: 150%;
    display: flex;
}
nav li{
    font-size: large;
    margin-right: 4vh;
    margin-left: 0%;
    
}
nav li:hover{
    font-size: large;
    margin-right: 4vh;
    color:#0B6DD8;
}
#nav1{
    width: 55%;
    height: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top: 2%;
    padding-top: 3%;
    color: #0BAAE2;
}
#navpessoal{
    width: 30%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2%;
    padding-top: 3%;
    color: #0BE2A4;
}
#perfil{
    border: #0BE2A4 solid 3px;
    border-radius: 18px;
    padding: 5px;
    margin-top: -8px;
    color: #0BE2A4;
    width: 11vh;
    margin-right: -4vh;
}
a{
text-decoration: none;
color: inherit;
}

#perfil:hover{
    border: #0BE2A4 solid 3px;
    background-color: #0BE2A4;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    margin-top: -8px;
    margin-right: -4vh;
    width: 11vh;
    transition: 0.5s;
}
 
#menu1 ul{
    display: none;
}

#menu1:hover ul{
    display: flex;
    transition: 2s;

}
#menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    transition: 2s;
    border: #0BD863 solid 3px;
    border-right: 0px;
    border-left: 0vh;
    border-radius: 2vh;
    margin-top: -3vh;
    padding-right: 1vh;
    width: auto;
}
#menu li{
    margin: 0px 0vh;
    padding-bottom: 3px;
    padding-left: -5vh;
    padding-top: 1vh;

}
.altura{
    margin-top: -1vh;
}
#outTotal{
    color: #0B6DD8;
}
#Principal{
width: 96%;
height: 1%;
background-color: #0B6DD8;
padding-top: 4%;
padding-bottom: 1%;
color: #0BD863;
font-family: 'Josefin Sans', sans-serif;
padding-left: 4%;
}
#Principal2{
    width: 5%;
    height: -50%;
    background-color: #0B6DD8;
    padding-top: 1%;
    padding-bottom: 48px;
    color: #0BD863;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: -45%;
    margin-top: -3%;
    background-color: rgba(0, 0, 0, 0);
    }
#main1{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1 0 ;
    flex-shrink: 1;
    flex-basis: auto;
}
h1{
    margin: 0%;

}
#ad{
    color: #fff;
}
.espaco{
    margin-bottom: 4%;
}
#Conta{
    border: #0BD863 solid 3px;
    border-radius: 30px;
    width: 20%;
    text-align: center;
    padding: 8px;
}
#Conta:hover{
    border: #0BD863 solid 3px;
    border-radius: 30px;
    width: 20%;
    text-align: center;
    padding: 8px;
    background-color: #0BD863;
    color: #fff;
    transition: 00.4s;
}
#Conta1{
    border: #0BD863 solid 3px;
    border-radius: 30px;
    width: 35%;
    text-align: center;
    padding: 8px;
    margin-bottom: 2vh;
    color:#0BD863;
}
#Conta1:hover{
    border: #0BD863 solid 3px;
    border-radius: 30px;
    width: 35%;
    text-align: center;
    padding: 8px;
    background-color: #0BD863;
    color: #fff;
    transition: 00.4s;
}
#Motivos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1 0;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: baseline;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-bottom: 2%;
}
.Motivo{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 0 5%;
}
.titulos{
    margin-bottom: 4%;
    display: block;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 350%;    
}
#Empresa{
    color: #0BE2A4;
}
#Time{
    width: 100%;
    height: 50%;
    margin-top: 5% 0;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: #0BE2A4;
    color: #fff;
    margin-bottom: 2%;
}
#Timebox{
    background-color: #0B6DD8;
    width: 55%;
    margin: 0 2%;
    margin-left: 5%;
    border-radius: 40px;
    padding: 2%;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
}
#Timebox li{
    font-size: 25px;
    list-style-type: none;
}
#timeflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1 0 ;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: flex-start;
}
.material-symbols-outlined{
    color: #0BE2A4;
}
#final{
    text-align: center;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 2%;
}
#esquerda{
    margin-left: -14em;
}
#esquerda2{
    margin-left: -18em;
}
#inputs{
    color: #0B6DD8;
    margin: -2% 0;
    padding-bottom: 2%;
}
input{
    border: 2px solid #2a2a2a;
    width: 20%;
    height: 25%;
    padding: 12px 5px;
    font-family:'Josefin Sans', sans-serif;
}
#btContaCriar{
        border: #0BD863 solid 3px;
        border-radius: 30px;
        width: 20%;
        text-align: center;
        padding: 12px 16px;
        font-size: large;
}
#btContaCriar:hover{
    border: #0BD863 solid 3px;
    border-radius: 30px;
    width: 20%;
    text-align: center;
    padding: 12px 16px;;
    background-color: #0BD863;
    color: #fff;
    font-size: large;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 8vh;
    background-color: #0b55a3;
    padding-bottom: 3vh;
}
footer div{
    margin-right: 10vh;
}
.icon{
    margin-right: 2vh;
    margin-bottom: 0vh;
}
.footer1{
    color:#0BE2A4;
    margin-top: 3vh;
}
.footer2{
    color: #0BD863;
    margin-top: 3vh;
}
.footer3{
    color: #fff;
    margin-top: 0vh;
}
#copy{
    color: #fff;
    margin-top: 2vh;
}